body {
    background-color: #E2E2E2;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar {
    background-color: #000000;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 7.5px 10px;
}   
.content_main {
    background-color: #E2E2E2;
    position: relative;
}
.content {
    background-color: #E2E2E2;
    position: fixed;
    top: 80px;
    width: 100%;
    min-height: calc(100vh - 150px);
    text-align: center;
}
.content_faq{
    background-color: #E2E2E2;
    position: fixed;
    top: 80px;
    width: 100%;
    text-align: center;
}
.card_part {
    margin-top: 9%;
}
.card {
    background-color: #ffffff;
    width: 33%;
    padding: 15px;
    margin: 5px auto;
    border-radius: 15px;
    top: 45%;
    left: 50%;
    margin-top: calc(-50% / 4);
    margin-left: calc(-16.5%);
    z-index:3;
}
.faq_box {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    width: 14%;
    display: inline-block;
    vertical-align: text-top;
    padding: 10px;
    margin: 5px 3px;
    border-radius: 5px;
}
.about_header {
    width:100%;
    height: 100px;
    vertical-align: center;
    background: #143656;
    color: white;
}
.about_box {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    width: 25%;
    height:800px;
    float:left;
    padding: 10px;
}
.pic_box {
    background-image: url("hands-2082x1171.jpg");
    background-repeat: repeat-x;
    width: 100%;
    background-size: 800px;
    height:800px;
    background-color: #ffffff;
}
#button_container {
    width: 93%;
    position: absolute;
    margin: 15px auto;
    top: 85%
}
#overlay_box {
    z-index: 10;
    width: 75vw;
    height: calc(75vh - 50px);
    padding: 15px;
    margin: 5px auto;
    border-radius: 15px;
    background-color: #ffffff;
    position: fixed;
    top: 12.5%;
    left: 12.5%;
}
.overlay_back_button {
    background-color: #ffffff; /* Green */
    border: 2px solid #4CAF50;
    color: #4CAF50;
    transition-duration: 0.4s;
    position: absolute;
    width: 10%;
    height: 10%;
    right: 5px;
    bottom: 5px;
    border-radius: 15px;
}
.overlay_back_button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
.no_button {
    background-image: url("X.png");
    border-radius: 50%;
    position: absolute;
    border: 0;
    width: 100px;
    height: 100px;
    outline:none;
    left: 0%;
}
.no_button:hover {
    filter: brightness(70%);
}
.end_button {
    background-color: #D10000; /* Green */
    border: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin: 10px 10px;
    padding: 16px 32px;
    transition-duration: 0.4s;
    float: right;
    position: relative;
    z-index: 10;
}
.end_button:hover {
    background-color:white; /* Green */
    color:#b64029;
}
li{
    list-style-type: none;
    margin: 10px;
}
li a{
    font-size: 20px;
    text-decoration: none;
    font-family: Arial;
    color:blue;
}
li a:hover{
    color:blue;
    text-decoration: underline;
}
p {
    font-size: 20px;
    font-family: Arial;
    color:#383838;
}
.learn_more_button {
    background-color: #F1BC00;
    border-radius: 50px;
    position: absolute;
    border: 0;
    width: 200px;
    height: 100px;
    outline:none;
    right: calc(50% - 100px);
    align-content: center;
    font-size: 1.25em;
}
.learn_more_button:hover {
    filter: brightness(70%);
}
.yes_button {
    background-image: url("Y.png");
    position: absolute;
    border-radius: 50%;
    border: 0;
    width: 100px;
    height: 100px;
    outline:none;
    right: 0%;
}
.yes_button:hover {
    filter: brightness(70%);
}
.footer_button {
    background-color: #000000; /* Green */
    border: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    padding: 16px 32px;
    transition-duration: 0.4s;
}
.footer_button:hover {
    background-color: #ffffff; /* Green */
    color: black;
}
body {
    background-color: #E2E2E2;
    margin: 0;
    padding: 0;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    border-radius: 10px;
    float: left;
}
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.footer {
    background-color: #000000;
    height: 70px;
    position: fixed;
    width: 100%;
    top: calc(100vh - 70px);
    padding: 0px 10px;
}
.footer:hover {
    background-color: rgba(0,0,0,0.5);
    transition-duration: 0.4s;
}
.v1 {
    font-size: 3em;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.v2 {
    font-size: 3em;
    color: #ffffff;
    padding: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.v3 {
    font-size: 24.5px;
    color:#143656;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
}
h3 {
    margin-top: 0;
    margin-bottom: 0;
}
h4 {
    font-size:20px;
}
h5 {
    font-size:15px;
    font-family:Arial;
    font-weight: normal;
}
.card_img {
    width: auto;
    max-width: 100%;
    height: 25vh;
    overflow: hidden;
    padding: 0;
    display: block;
    margin: auto;
}