body {
    background-color: #E2E2E2;
    margin: 0;
    padding: 0;
}
#navbar {
    background-color: #C4C4C4;
    width: 100%;
p
}
.footer {
    background-color: #C4C4C4;
}
.content {
    background-color: #E2E2E2;
}
.card {
    background-color: #ffffff;
    width: 33%;
    padding: 15px;
    margin: 5px auto;
    border-radius: 15px;
}
#button_container {
    width: 33%;
    margin: 5px auto;
}
#no_button {
    background-color: #D10000;
}
#yes_button {
    background-color: #04B600;
}